*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body{
    font-family: "../fonts/poppins.ttf";
} 
.container{
  height: 100vh;
  width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width:30%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   border-right: 1px solid rgba(0, 0, 0, 0.246);
}  
.sidebar a {
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #353333;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #fff;
}

.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.sidebar a img{
  width: 21.88px;
height: 25px;
top: 344px;
left: 42px;
gap: 0px;
opacity: 0px;
margin-right: 15px;
}

.sidebar-nav{
    position: absolute;
    top:0;
    width: 100%;
    height: 100px;
    background-color: rgb(13, 115, 210); 
}
.sidebar-nav .back-img{
    margin-left: 20px;
}

.sidebar-nav a{
    margin-top: 10px;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding-left: 20px;
}
.sidebar-nav-img{
    width: 100px;
    height: 100px; 
    background-image: url("../assets/image.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.openbtn {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    
}
  
.openbtn:hover{
    background-color:rgb(0, 126, 253); ;
}
  
#closebtn{
   font-size: 60px;
    border-bottom: none;
    color: rgb(242, 243, 244);
}   
.closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
/* nav-bar */
.Nav-bar{
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-bottom: 20px;
    background-color: rgb(13, 115, 210);
    height: 100px;
    width: 100%;
}
.pro-icon{
    position: relative;  
    /* top:-20px; */
    width:150px;
    height:150px;
    background-image: url("../assets/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.btn-logout{
    background-color: orange;
    width: 70%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}
    