*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body{
    font-family: "../fonts/poppins.ttf";
} 
.container{
  height: 100%;
  width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width:30%;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   border-right: 1px solid rgba(0, 0, 0, 0.246);
}  
/* Sidebar link styles */
.sidebar-container a {
    padding-left: 20px; /* Space on left */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Font size */
    color: #353333; /* Text color */
    display: block; /* Block display */
    transition: 0.3s; /* Transition effect */
    border: none;
  }
  
  /* sidebar-container link hover effect */
  .sidebar-container a:hover {
    font-weight: bolder; /* Make text bold on hover */
  }
  
  /* Active link styles */
  .sidebar-container a:active {
    color: plum; /* Active link color */
    font-weight: bolder; /* Bold font */
  }
  
  /* sidebar-container icon styles */
  .sidebar-container a img {
    width: 21.88px;
    height: 25px;
    margin-right: 15px; /* Space between icon and text */
  }

.sidebar-nav{
    position: absolute;
    top:0;
    width: 100%;
    height: 100px;
    background-color: rgb(13, 115, 210); 
}
.sidebar-nav .back-img{
    margin-left: 20px;
}

.sidebar-nav a{
    margin-top: 10px;
    text-decoration: none;
    border-bottom: none;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding-left: 20px;
}



.sidebar-nav-img{
    width: 100px;
    height: 100px; 
    background-image: url("../assets/image.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.openbtn {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    
}
  
.openbtn:hover{
    background-color:rgb(0, 126, 253); ;
}
  
#closebtn{
   font-size: 60px;
    border-bottom: none;
    color: rgb(242, 243, 244);
}   
.closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;

}
/* nav-bar */
.Nav-bar{
    padding: 0px 20px 0px 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding-bottom: 20px;
    background-color: rgb(13, 115, 210);
    height: 100px;
    width: 100%;
}
.pro-icon{
    position: relative;  
    /* top:-20px; */
    width:150px;
    height:150px;
    background-image: url("../assets/profile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.btn-logout{
    background-color: orange;
    width: 70%;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}
.container-2{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
}
.btn-attendance{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
.btn-attendance button{
    width: 40%;
    display: flex;
    border:none;
    padding: 8px;
    background-color: #FF9730;
    justify-content: space-evenly;
    font-size: 24px;
}
.notice-pannel{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.notice-pannel .notice-box{
    width: 40%;
    display: flex;
    flex-direction: column;
    border:none;
    font-size: 24px;
    border: 2px solid #2c87A4;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.notice-box .notice-header{
    text-align: center;
    border-bottom: 2px solid  #2c87A4;
    padding: 16px;
}
.notice-box .notice-content{
    padding: 16px;

}
#myModal{
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content form{
    width: 100%;
    height: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.modal-content h1{
    text-align: center;
}

.status,.message,.btn-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    margin: 8px;
}
.status select{
    appearance: none;
    padding: 10px;
    font-size: 20px;
    width: 80%;
    border: 2px solid  #2c87A4;
    border-radius: 8px;
    font-weight: bold;
}

.message h3{
    padding-bottom: 16px;
    
}
.message textarea{
    width: 80%;
    border: 2px solid  #2c87A4;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
}
.btn-reg button{
    align-items: center;
    width: 40%;
    background-color: #FF9730;
    font-size: 16px;
    padding: 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

