@font-face {
    font-family: Poppins;
    src: url("../fonts/poppins.ttf");
  }
#emp-form{
   background-color: blanchedalmond;
}
#admin-form{
    display:none;
    background-color:aqua;
}
#emp-image{

    height: 100%;
    width: 100%;
}
#admin-image{
    display: none;
}
/*  */
.emp-image{
    width:100%;
    height:100%
}
h2{
    font-family: Poppins;
    font-weight: 800;
}