@font-face {
    font-family: Poppins;
    src: url("../fonts/poppins.ttf");
  }

body{
    margin:0;
    padding:0
}

.container{
    display: flex;
}

#emp-image img{
    height: 100%;
    width: 100%;
}

#admin-image img{
    height: 100%;
    width:100%;
}

.emp-form{
   background-color: blanchedalmond;
   width:100%;
   height:100vh;
}

.emp-form-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
}
#admin-form{
    display:none;
    background-color:aqua;
    width:100%;
    height:100vh;
}

.admin-form-container{
    display:flex;
    flex-direction:column;
    height:100%;
}

#admin-image{
    display: none;
}
/*  */
.emp-image{
    width:100%;
    height:100%
}
h2{
    font-family: Poppins;
    font-weight: 800;
}
p{
    padding: 5px;
    font-family: Poppins;
    font-size: 30px;
    border-right: 5px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FCFCFC;
    position: fixed;
    top:0;
    left:45%;
}
form{
    font-family: Poppins;
    font-size: 30px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   
}
form input{
    width: 328px;
    height: 48px;
}
