table {
   font-size: 20px;
    /* border-collapse: collapse; */
    /* border-spacing: 0; */
    width: 100%;
    border: 2px solid #151414; 
    margin: 10px;
    
}
  
th, td {
    border: 2px solid #151414;
    text-align: center;
    padding: 8px;
}
 
tr{
    height: 90px;
    width: 100%;
    
}
tr:nth-child(even){
    background-color: #bbb9b9
} 
td i{
    padding: 10px;
    gap: 10px;
    font-size:20px ;
}
