
.container-2{
    background-color: #5F9FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container-2 input,button{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 30%;
    font-size: 16px;

}
h1{
    text-align: center;
}
select{
    padding:10px;
    width: 30%;
    font-size: 16px;
}

.container-2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
    gap: 30px;
    width: 100%;
}
.container-2 button{
  
    background-color: #775fff;
    font-size: 16px;
    font-weight: bold;
}